<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.bsc.modules.teacher.dao.TeacherMapper">
    <resultMap id="getTeacher" type="com.bsc.modules.teacher.entity.Teacher">
        <!--property里表示的是实体类中定义的对象的名称，column表示的是数据表里的字段.把property插入到column-->
        <result property="userID.id" column="userID"/>
        <result property="lecture" column="lecture"/>
        <result property="intro" column="intro"/>
    </resultMap>

    <insert id="insert">
        INSERT INTO
        teacher(userID,lecture,intro)
        VALUES(#{userID.id},#{lecture},#{intro});
    </insert>

    <update id="update">
        UPDATE teacher
        <set>
            <if test="userID!=null and userID.id!=null and userID.id!=''">
                and userID= #{userID.id}
            </if>
            <if test="lecture!= null and lecture != ''">
                and lecture= #{lecture}
            </if>
            <if test="intro!= null and intro != ''">
                and intro= #{intro}
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM teacher WHERE id=#{id}
    </delete>

    <select id="get" resultMap="getTeacher">
        SELECT * FROM teacher WHERE id = #{id}
    </select>

    <select id="getT" resultMap="getTeacher">
        select * from teacher
        <where>
            <if test="userID!=null and userID.id!=null and userID.id!=''">
                and userID= #{userID.id}
            </if>
            <if test="lecture!= null and lecture != ''">
                and lecture= #{lecture}
            </if>
            <if test="intro!= null and intro != ''">
                and intro= #{intro}
            </if>
        </where>
        order by id desc
    </select>

    <select id="findList" resultMap="getTeacher">
        SELECT * FROM teacher
        <where>
            <if test="userID!=null and userID.id!=null and userID.id!=''">
                and userID= #{userID.id}
            </if>
            <if test="lecture!= null and lecture != ''">
                and lecture= #{lecture}
            </if>
            <if test="intro!= null and intro != ''">
                and intro= #{intro}
            </if>
        </where>
        ORDER BY id DESC
    </select>
    <select id="findAllList" resultMap="getTeacher">
        SELECT * FROM teacher ORDER BY id DESC
    </select>

</mapper>