<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.bsc.modules.user.dao.UserMapper">

    <resultMap id="getUser" type="com.bsc.modules.user.entity.User">
           <!--property里表示的是实体类中定义的对象的名称，column表示的是数据表里的字段.把property插入到column-->
        <result property="num" column="num"/>
        <result property="type" column="type"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="photo" column="photo"/>
        <result property="academy" column="academy"/>
        <result property="signature" column="signature"/>
        <result property="tel" column="tel"/>
        <result property="mailbox" column="mailbox"/>
    </resultMap>

    <insert id="insert">
        INSERT INTO
        user(num,type,password,name,sex,photo,academy,signature,tel,mailbox)
        VALUES(#{num},#{type},#{password},#{name},#{sex},
        #{photo},#{academy},#{signature},#{tel},#{mailbox});
    </insert>
    <update id="update">
        UPDATE user
        <set>
            <if test="num != null and num != ''">
                num = #{num},
            </if>
            <if test="type != null and type != ''">
                type = #{type},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="sex != null and sex != ''">
                sex = #{sex},
            </if>
            <if test="photo != null and photo != ''">
                photo = #{photo}
            </if>
            <if test="academy != null and academy != ''">
                academy = #{academy},
            </if>
            <if test="signature != null and signature != ''">
                signature = #{signature},
            </if>
            <if test="tel != null and tel != ''">
                tel = #{tel}
            </if>
            <if test="mailbox != null and mailbox != ''">
                mailbox = #{mailbox}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM user WHERE id=#{id}
    </delete>            <!--怎样从notice数组中删除一个对象-->

    <select id="get" resultMap="getUser">
        SELECT * FROM user WHERE id = #{id}
    </select>

    <select id="getT" resultMap="getUser">
        select * from user
        <where>
            <if test="num!= null and num != ''">
                and num= #{num}
            </if>
            <if test="type!=null and type!= ''">
                and type= #{type}
            </if>
            <if test="password!= null and password != ''">
                and  password= #{password}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="sex!=null and sex!=''">
                and sex = #{sex}
            </if>
            <if test="photo != null and photo != ''">
                and photo = #{photo}
            </if>
            <if test="academy != null and academy != ''">
                and academy = #{academy}
            </if>
            <if test="signature!= null and signature != ''">
                and signature = #{signature}
            </if>
            <if test="tel != null and tel != ''">
                and tel = #{tel}
            </if>
            <if test="mailbox != null and mailbox != ''">
                and mailbox = #{mailbox}
            </if>
        </where>
        order by id desc
    </select>


    <select id="findList" resultMap="getUser">
        SELECT * FROM user
        <where>
            <if test="num != null and num != ''">
                and num = #{num},
            </if>
            <if test="type != null and type != ''">
                and type = #{type},
            </if>
            <if test="password != null and password != ''">
                and password = #{password},
            </if>
            <if test="name != null and name != ''">
                and name = #{name},
            </if>
            <if test="sex != null and sex != ''">
                and sex = #{sex},
            </if>
            <if test="photo != null and photo != ''">
                and photo = #{photo}
            </if>
            <if test="academy != null and academy != ''">
                and academy = #{academy},
            </if>
            <if test="signature != null and signature != ''">
                and signature = #{signature},
            </if>
            <if test="tel != null and tel != ''">
                and tel = #{tel}
            </if>
            <if test="mailbox != null and mailbox != ''">
                and mailbox = #{mailbox}
            </if>
        </where>
        ORDER BY id DESC
    </select>
    <select id="findAllList" resultMap="getUser">
        SELECT * FROM user ORDER BY id DESC
    </select>

</mapper>